# PostgreSQL
POSTGRES_DB=MarketLinkDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_THIS_STRONG_PASSWORD

# JWT
JWT_SECRET=CHANGE_THIS_MIN_32_CHARS_SECRET_KEY
JWT_ISSUER=MarketLink
JWT_AUDIENCE=MarketLink

# MinIO
MINIO_USER=minioadmin
MINIO_PASSWORD=CHANGE_THIS_MINIO_PASSWORD
# Serverning haqiqiy IP yoki domain
MINIO_PUBLIC_URL=http://YOUR_SERVER_IP:9000

# Eskiz SMS
ESKIZ_EMAIL=your@email.com
ESKIZ_PASSWORD=your_eskiz_password

# API port
API_PORT=5000

# Production yoki Development
ASPNETCORE_ENVIRONMENT=Production
